# Aula 5 - Introdução a Pandas, pt4

Hoje, vamos falar de exploração de dados usando o Pandas, e finalizar nosso processamento de dados.

---

## Reshaping

In [ ]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_table('/Users/magnovaldo/Documents/Training/lets_code/ds_boticario/boti_pipe/data/dados_religiao_income.txt',
                   header=0, sep=' ')

In [3]:
df

                  religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k
0                 Agnostic     27       34       60       81       76      137
1                  Atheist     12       27       37       52       35       70
2                 Buddhist     27       21       30       34       33       58
3                 Catholic    418      617      732      670      638     1116
4       Don’t know/refused     15       14       15       11       10       35
5         Evangelical Prot    575      869     1064      982      881     1486
6                    Hindu      1        9        7        9       11       34
7  Historically Black Prot    228      244      236      238      197      223
8        Jehovah’s Witness     20       27       24       24       21       30
9                   Jewish     19       19       25       25       30       95

O potencial do pandas é melhor aproveitado quando usamos o conceito de "tidy data" para organizarmos nossos dados.

Nos dados acima, eles estão pivoteados por segmentos de rendimento.

Vamos então tentar ajustar isso.

In [4]:
df.columns

Index(['religion', '<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k',
       '$50-75k'],
      dtype='object')

In [5]:
value_cols = [col for col in df.columns if col != 'religion']
value_cols

['<$10k', '$10-20k', '$20-30k', '$30-40k', '$40-50k', '$50-75k']

In [6]:
# Nosso novo dataframe agora terá o formato de tidy data.
new_df = pd.melt(df, id_vars=['religion'], 
                 value_vars=value_cols,
                 var_name='income', 
                 value_name='freq')

new_df

                   religion   income  freq
0                  Agnostic    <$10k    27
1                   Atheist    <$10k    12
2                  Buddhist    <$10k    27
3                  Catholic    <$10k   418
4        Don’t know/refused    <$10k    15
5          Evangelical Prot    <$10k   575
6                     Hindu    <$10k     1
7   Historically Black Prot    <$10k   228
8         Jehovah’s Witness    <$10k    20
9                    Jewish    <$10k    19
10                 Agnostic  $10-20k    34
11                  Atheist  $10-20k    27
12                 Buddhist  $10-20k    21
13                 Catholic  $10-20k   617
14       Don’t know/refused  $10-20k    14
15         Evangelical Prot  $10-20k   869
16                    Hindu  $10-20k     9
17  Historically Black Prot  $10-20k   244
18        Jehovah’s Witness  $10-20k    27
19                   Jewish  $10-20k    19
20                 Agnostic  $20-30k    60
21                  Atheist  $20-30k    37
22                 Buddhist  $20-30k    30
23                 Catholic  $20-30k   732
24       Don’t know/refused  $20-30k    15
25         Evangelical Prot  $20-30k  1064
26                    Hindu  $20-30k     7
27  Historically Black Prot  $20-30k   236
28        Jehovah’s Witness  $20-30k    24
29                   Jewish  $20-30k    25
30                 Agnostic  $30-40k    81
31                  Atheist  $30-40k    52
32                 Buddhist  $30-40k    34
33                 Catholic  $30-40k   670
34       Don’t know/refused  $30-40k    11
35         Evangelical Prot  $30-40k   982
36                    Hindu  $30-40k     9
37  Historically Black Prot  $30-40k   238
38        Jehovah’s Witness  $30-40k    24
39                   Jewish  $30-40k    25
40                 Agnostic  $40-50k    76
41                  Atheist  $40-50k    35
42                 Buddhist  $40-50k    33
43                 Catholic  $40-50k   638
44       Don’t know/refused  $40-50k    10
45         Evangelical Prot  $40-50k   881
46                    Hindu  $40-50k    11
47  Historically Black Prot  $40-50k   197
48        Jehovah’s Witness  $40-50k    21
49                   Jewish  $40-50k    30
50                 Agnostic  $50-75k   137
51                  Atheist  $50-75k    70
52                 Buddhist  $50-75k    58
53                 Catholic  $50-75k  1116
54       Don’t know/refused  $50-75k    35
55         Evangelical Prot  $50-75k  1486
56                    Hindu  $50-75k    34
57  Historically Black Prot  $50-75k   223
58        Jehovah’s Witness  $50-75k    30
59                   Jewish  $50-75k    95

In [7]:
# Podemos voltar para o formato anterior, que facilita apresentações para o negócio.
# Usamos o método pivot.
new_df.pivot(index='religion', columns='income', values='freq')

income                   $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  <$10k
religion
Agnostic                      34       60       81       76      137     27
Atheist                       27       37       52       35       70     12
Buddhist                      21       30       34       33       58     27
Catholic                     617      732      670      638     1116    418
Don’t know/refused            14       15       11       10       35     15
Evangelical Prot             869     1064      982      881     1486    575
Hindu                          9        7        9       11       34      1
Historically Black Prot      244      236      238      197      223    228
Jehovah’s Witness             27       24       24       21       30     20
Jewish                        19       25       25       30       95     19

Também podemos juntar dataframes do Pandas, usando o método "concat".

In [9]:
df1 = pd.DataFrame({'nome':['eu', 'tu', 'ele/ela'],
                    'val':[1, 1, 1]})

df2 = pd.DataFrame({'nome':['nós', 'vós', 'eles/elas'],
                    'val':[2, 2, 2]})

In [10]:
pd.concat([df1, df2])

        nome  val
0         eu    1
1         tu    1
2    ele/ela    1
0        nós    2
1        vós    2
2  eles/elas    2

Caso se queira colocar um do lado do outro, invés de em cima, usamos o parâmetro "axis".

## Exploração de dados: Estatísticas

In [ ]:
df = pd.read_table('dados_parciais.txt', sep=';', decimal=',')

In [ ]:
df.head(3)

In [13]:
df.describe()

        <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k
count  10.000   10.000   10.000   10.000   10.000   10.000
mean  134.200  188.100  223.000  212.600  193.200  328.400
std   205.433  306.461  370.236  338.248  308.834  523.265
min     1.000    9.000    7.000    9.000   10.000   30.000
25%    16.000   19.500   24.250   24.250   23.250   40.750
50%    23.500   27.000   33.500   43.000   34.000   82.500
75%   177.750  191.500  192.000  198.750  166.750  201.500
max   575.000  869.000 1064.000  982.000  881.000 1486.000

In [12]:
# Podemos sumarizar algumas estatísticas de várias colunas de uma única vez.
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.describe()

        <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k
count  10.000   10.000   10.000   10.000   10.000   10.000
mean  134.200  188.100  223.000  212.600  193.200  328.400
std   205.433  306.461  370.236  338.248  308.834  523.265
min     1.000    9.000    7.000    9.000   10.000   30.000
25%    16.000   19.500   24.250   24.250   23.250   40.750
50%    23.500   27.000   33.500   43.000   34.000   82.500
75%   177.750  191.500  192.000  198.750  166.750  201.500
max   575.000  869.000 1064.000  982.000  881.000 1486.000

In [ ]:
# Também podemos fazer uma estatística de cada vez.
df.mean()

In [ ]:
df.quantile([0.25, 0.75])

In [ ]:
df.min(numeric_only=True)

In [ ]:
# Se quisermos estatísticas separadas para cada UF, podemos usar o groupby.
df.groupby('regiao').mean(numeric_only=True)

In [ ]:
# Nós também podemos juntar tabelas diferentes, usando o método "merge"
df_muni = pd.read_table('dados/populacao_brasileira_por_municipio.txt',
                        sep=';',
                        thousands='.')

In [ ]:
df_muni.head(10)

In [ ]:
# Vamos colocar a região de cada UF na tabela acima, e 
# encontrar a população média por município para cada região.
df.uf

Perceba que temos Ilhas, Litígio e que tem duas estrelas em pernambuco. Vamos limpar isso primeiro.

In [ ]:
df2 = df.loc[~df.uf.isin(['Ilhas***', 'Litígio*'])].copy()

In [ ]:
df2.uf

In [ ]:
df2.at[13, 'uf'] = 'PE'

In [ ]:
df2

In [ ]:
df3 = df2[['regiao', 'uf']].copy()

In [ ]:
df3

In [ ]:
df_reg = df_muni.merge(df3, left_on=['UF'], right_on=['uf'], how='left')

In [ ]:
df_reg

In [ ]:
df_reg.groupby('regiao').agg({'POPULAÇÃO ESTIMADA':['mean', 'std']})